* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul{
    display:flex;
    list-style: none;
    gap: 25px;
    
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: flex-end;
}

.header{
    color: white;
    background-color: #1f2937;
    padding: 30px;
}

.headertop{
   display: flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 100px;
   
   
}


.logo{
    font-size: 24px;
    color:#f9faf8;
    font-weight: bold;
}

.title{
    font-size: 45px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 444px;
}

.subtext{
    font-size: 16px;
    color: #e5e7eb;
    max-width: 400px;
}

.headerbody{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    align-items: center;
    padding:30px 30px 0px 0px;
    
}

.right{
    display: flex;
   
}

.left{
    width: 70%;
    display: flex;   
    flex-direction: column;
}



img{
    max-height:250px;
    margin-left: 60px;
    width: auto;
    
}

.btn{
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    width: auto;
    max-width: 15%;
}


h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    margin-bottom: 30px;
}


.row-boxes{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    
}

.box{
    margin: 20px;
    border: 3.5px solid #3882f6;
    border-radius: 15px;
    width:150px;
    height: 150px;
}

.p-msg{
    text-align: center;
    font-weight:lighter;
    font-size: 16px;
    color: #1f2937;
}

.section-three{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
}
.quotebox{
    display: flex;
    flex-direction: column;
    margin: 100px;
    
    
}

.quote{
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author{
    font-weight: bolder;
    font-size: 22px;
    text-align: right;
    padding: 10px 0px 0px 20px;
}

.section-four{
    /* max-height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.action-box{
    display: flex;
    background-color: #3882f6;
    margin: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 60%;
    height: 90px;
    border-radius: 8px;
}

.action-left{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 80%;
    color: white;
    font-size: 16px;
}


.action-right{
    max-width: 20%;
    padding-right: 30px;
}

.action-button{
    color: white;
    background-color: #3882f6;
    border: 2.5px solid white;
    width: 85px;
    height: 33px;
    border-radius: 8px;
    font-weight: lighter;
}


.footer{
    color: white;
    background-color: #1f2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}